


div { 
    
    
    background-color: rgb(190, 108, 242); 
    width: 600px;
    border: 5px solid rgb(153, 0, 255);
    text-align: center;
   

  }
  
h1{
      color: rgb(0, 0, 0);
  }
  
  
nav{
        height: 1500px;
        width: 300px;
        margin: auto;

      display: inline-block;
      width: 200px;
      background-color: rgb(207, 157, 248);
      
  }
  
a{
      display: block;
      text-decoration: none; /*tirar o traço de baixo do link*/
  }
  
body {
    background-size: cover; /*Colocar a imagem na tela inteira*/
    background-repeat: no-repeat;
    background-attachment: fixed; /*deixar o fundo na tela inteira*/
    
}

img{
    width:100px;
    height:100px;
}

.menu-top{
    width: 100%;
    padding: 20px;
    padding-left: 200px;
    background-color: rgb(193, 75, 244);
    position: sticky; /*fixar*/
    top: 0;
    display: flex; /*um do lado do outro*/
}


.container{
    height: 2000px;
    width: 300px;
    margin: auto;
    background-color: aliceblue;
    border: 1px solid rgb(227, 151, 245);
    background-size: cover; /* imagem se adequar ao tamanho*/
    background-repeat: no-repeat;
    background-position: center;
}

.centro{
    
    margin-left: 450px;
}
